@model IEnumerable<DraGLand.Models.Car>
@{
    ViewBag.Title = "Гараж";
}
@Html.Partial("Partial")

@foreach (var item in Model)
{
    if (@item.UserName == @ViewBag.Name)
    {
        <div class="col-sm-6 col-lg-4">
            <div class="table-bordered">
                <div class="card p-3">
                    <a class="mb-3">
                        <div class="info-tab">
                            <span class="glyphicon glyphicon-info-sign" style="color: grey;"></span>
                        </div>
                        <img src="~/images/cars/@item.Photo" alt="Photo by Debra Beck" class="rounded store-image" style="padding-top: 20%">
                        <div class="panel-car">
                            <div class="upgrade-text">
                                @item.CarName
                            </div>
                            <div class="upgrade-button">
                                <span class="glyphicon glyphicon-arrow-up" style="color: yellow"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    }
}
