@model IEnumerable<DraGLand.Models.CarStore>

@{
    ViewBag.Title = "Store";
}

@Html.Partial("Partial")

@foreach (var item in Model)
{
    <div>@item.Price</div>
    <div class="col-sm-6 col-sm-offset-3">
        <img class="store-image" src="~/images/cars/@item.Photo" />
    </div>
}




